html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a:hover {
  cursor: pointer;
}

#map {
  width: 82%;
  height: 100%;
}

.firstHeading {
  font-size: 1.5rem;
}

#images {
  background: #aaa;
  width: 18%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
}

#images img {
  width: 96%;
  margin: 0.3rem 0.3rem 0 0.3rem;
  border: solid 2px #ccc;
}

#images p {
  padding: 0.5rem;
  margin: 0 0.4rem 0.1rem 0.3rem;
  background: #ccc;
}

#error_msg {
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background: pink;
  color: maroon;
  z-index: 99999;
  padding: 0.5rem;
  text-align: center;
  opacity: 0.8;
}
